.partners {
  color: $medium-gray;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  padding: 40px 0;
  background: white;
  max-width: 100%;

  .logos {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;

    img {
      margin: 16px 32px;
      max-width: 100%;
    }
  }
}
