.team {
  background: white;

  .large {
    @extend %large-text;
  }

  .cards {
    max-width: $break-large;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}