body {
    background-color: whitesmoke;
    color: black;
}

.container {
    display: flex;
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content: center;
}

#logo{
    margin-top:50px;
    width:auto;
    height:70vh;
}

form{
    margin-top:40px;
    width:10vw;
    min-width:150px;
}

.btn-success{
    min-width:100px;
    width:5vw;
    background-color: #6FBE44;
    border-color: #6FBE44;
}