.diagram {
  background: $pale-gray;
  background: linear-gradient(180deg, #FFF 0%, #F4F0F7 100%);

  .intro {
    margin-bottom: 0;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 8px;
    margin-left: -32px;

    .text {
      display: inline-block;
      width: auto;
    }

    @media screen and (max-width: $break-large) {
      font-size: 16px;
    }

    &.nodeless {
      margin-left: 0;
    }
  }

  .content {
    position: relative;
  }

  .connectorNode {
    transform: translateY(2px);
    margin-right: 8px;
    display: inline-block;
    background: url("/static/node.svg") center center no-repeat;
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 4;

    &.incoming {
      background: url("/static/node-incoming.svg") top center no-repeat;

      @media screen and (max-width: $break-medium) {
        transform: translateY(-1px);
        background: url("/static/node.svg") center center no-repeat;
      }
    }

    &.protocol {
      margin-right: 16px;
      margin-left :-36px;
      transform: translateY(20px);
      width: 54px;
      height: 54px;
      background: url("/static/nos-circle.svg") center center no-repeat;
    }

    &.right {
      background: url("/static/node-incoming.svg") top center no-repeat;
      transform: rotateZ(-90deg);
      position: absolute;
      right: 8px;
      top: 166px;

      @media screen and (max-width: $break-medium) {
        display: none;
      }
    }
  }

  .section {
    border: 2px solid #D2CEDA;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    border-radius: $base-border-radius;
    margin-top: 20px;
    margin-bottom: 20px;

    @media screen and (max-width: $break-medium) {
      flex-direction: column;
    }

    &.protocol {
      display: block;
      position: relative;
      border: none;
      margin: 80px 0 80px 80px;
      max-width: 360px;

      // Line
      &:after {
        content: "";
        display: block;
        position: absolute;
        height: calc(100% + 348px);
        width: 4px;
        background: $green-gradient-vertical;
        left: -42px;
        top: -80px;
        z-index: 3;
      }
    }

    .label {
      z-index: 1;
      position: absolute;
      bottom: -16px;
      left: 16px;
      font-size: 20px;
      color: $medium-gray;
      font-weight: bold;
      padding: 0 12px;
      background-color: $pale-gray;

      &.top {
        top: -16px;
        bottom: auto;

        & .connectorNode {
          visibility: hidden;
        }
      }
    }
  }
}

.item {
  @extend %card-background;
  margin: 20px;
  flex: 1 1 calc(48% - 28px);
  padding: 20px 40px;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  overflow: visible;

  .authority {
    margin-bottom: -82px;
    height: 112px;
    color: white;
    border-radius: $base-border-radius;
    background: url("/static/authority-people.svg") bottom center no-repeat, $green-gradient-vertical;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media screen and (max-width: $break-medium) {
      margin-bottom: 0;
    }

    h3 {
      display: block;
      text-align: center;
      margin-left: 0;
    }

    &:before {
      content: '';
      display: block;
      width: 100px;
      height: 48px;
      background: url("/static/authority-thumbs.svg") center center no-repeat;
      margin: 8px 0;
    }
  }

  @media screen and (max-width: $break-medium) {
    margin-bottom: 0;
    margin-top: 0;
    border-radius: 0;
    border-bottom: 1px solid $light-gray;
  }

  h3 {
    display: flex;
  }

  &:nth-child(2) {
    @media screen and (max-width: $break-medium) {
      border-radius: $base-border-radius $base-border-radius 0 0 ;
      margin-top: 20px;
    }
  }

  &:last-child {
    @media screen and (max-width: $break-medium) {
      border-radius: 0 0 $base-border-radius $base-border-radius ;
      margin-bottom: 20px;
    }
  }

  &.backend {
    // Line
    &:after {
      content: "";
      display: block;
      position: absolute;
      height: 264px;
      width: 4px;
      background: $green-gradient-vertical;
      left: 16px;
      top: -80px;
      z-index: 3;

      @media screen and (max-width: $break-medium) {
        display: none;
      }
    }
  }

  &.filesystem {
    // Line
    &:after {
      content: "";
      display: block;
      position: absolute;
      height: 4px;
      width: 68px;
      background: $green-gradient-vertical;
      left: -58px;
      top: 174px;
      z-index: 3;

      @media screen and (max-width: $break-medium) {
        display: none;
      }
    }
  }

  &.fe {
    // Line
    &:after {
      content: "";
      display: block;
      position: absolute;
      height: 120px;
      width: 4px;
      background: $green-gradient-vertical;
      left: 16px;
      top: 174px;
      z-index: 3;

      @media screen and (max-width: $break-medium) {
        display: none;
      }
    }
  }

  &.contracts {
    .connectorLine {
      max-height: none;
      margin-bottom: auto;
      position: absolute;
      top: -22px;
      left: 2px;

      @media screen and (max-width: $break-medium) {
        display: none;
      }
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      height: 4px;
      width: calc(100% + 24px);
      background: $green;
      left: calc(-100% - 22px);
      top: -22px;
      z-index: 3;

      @media screen and (max-width: $break-medium) {
        display: none;
      }
    }
  }

  img {
    max-height: 124px;
    margin-bottom: 20px;
    width: auto;
    display: block;

    .section.client & {
      border-radius: 3px;
    }
  }

  .list {
    list-style-image: url('/static/list-item.svg');

    li:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  p,
  li {
    color: #6D6381;
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
  }
}
