@import url(https://rsms.me/inter/inter-ui.css);
@import url(https://rsms.me/inter/inter-ui.css);
@import url(https://rsms.me/inter/inter-ui.css);
@import url(https://rsms.me/inter/inter-ui.css);
@import url(https://rsms.me/inter/inter-ui.css);
@import url(https://rsms.me/inter/inter-ui.css);
@import url(https://rsms.me/inter/inter-ui.css);
@keyframes float1___l3sbV {
  0% {
    transform: translatey(0px); }
  50% {
    transform: translatey(-20px); }
  100% {
    transform: translatey(0px); } }

@keyframes float2___3SzQS {
  0% {
    transform: translatey(0px); }
  75% {
    transform: translatey(16px); }
  100% {
    transform: translatey(0px); } }

@keyframes moveBottomTop___wIz4V {
  0% {
    bottom: 0%;
    opacity: 0; }
  45% {
    opacity: 1; }
  60% {
    opacity: 0; }
  100% {
    bottom: 110%;
    opacity: 0; } }

@keyframes barberpole___2XQfp {
  100% {
    background-position: 100% 100%; } }

button, [type='button'], [type='reset'], [type='submit'] {
  appearance: none;
  background: linear-gradient(180deg, #B9D532 0%, #5BBA47 100%);
  border: 0;
  border-radius: 999px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Inter UI", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, [type='button']:hover, [type='reset']:hover, [type='submit']:hover {
    background-color: #499539;
    color: #000; }
  button:focus, [type='button']:focus, [type='reset']:focus, [type='submit']:focus {
    outline: 3px solid rgba(91, 186, 71, 0.6);
    outline-offset: 2px; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
      background-color: #5BBA47; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: "Inter UI", sans-serif;
  font-size: 16px; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #E9E6EF;
  border-radius: 8px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
    border-color: #bab8bf; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
    border-color: #5BBA47;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(91, 186, 71, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #E9E6EF; }
  [type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #8f86a1; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  width: 100%; }

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="file"]:focus,
select:focus {
  outline: 3px solid rgba(91, 186, 71, 0.6);
  outline-offset: 2px; }

html {
  background-color: #fff;
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  height: 100%; }

body {
  margin: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 1.5em 0;
  table-layout: fixed;
  text-align: left;
  width: 100%; }

thead {
  line-height: 1.2;
  vertical-align: bottom; }

tbody {
  vertical-align: top; }

tr {
  border-bottom: 1px solid #E9E6EF; }

th {
  font-weight: 600; }

th,
td {
  padding: 0.75em 0.75em 0.75em 0; }

html {
  color: #443562;
  font-family: "Inter UI", sans-serif;
  font-size: 100%;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter UI", sans-serif;
  line-height: 1.2;
  margin: 0 0 0.75em; }

h1 {
  font-size: 42px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 20px; }

p {
  font-size: 16px;
  line-height: 1.75em; }
  p.text--large___s9BkI {
    font-size: 20px; }
    @media screen and (max-width: 760px) {
      p.text--large___s9BkI {
        font-size: 16px; } }

p {
  margin: 0 0 0.75em; }

a {
  color: #5BBA47;
  text-decoration-skip: ink;
  transition: color 150ms ease; }
  a:hover {
    color: #448c35; }
  a:focus {
    outline: 3px solid rgba(91, 186, 71, 0.6);
    outline-offset: 2px; }

hr {
  border-bottom: 1px solid #E9E6EF;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

.navigation___lGW1A {
  width: 100%;
  padding: 24px 24px 0;
  display: flex;
  justify-content: space-between;
  font-size: 14px; }
  .navigation___lGW1A.icoActive___2CAcc {
    position: absolute;
    z-index: 2;
    color: white; }
    .navigation___lGW1A.icoActive___2CAcc .navItems___ENJRP a {
      color: white; }
    .navigation___lGW1A.icoActive___2CAcc .logo___1wZqy {
      background: url("/static/nos-logo-negative.svg") center center no-repeat; }
  @media screen and (max-width: 760px) {
    .navigation___lGW1A {
      flex-direction: column;
      justify-content: center; } }
  .navigation___lGW1A .logo___1wZqy {
    text-align: center;
    background: url("/static/nos-logo-positive.svg") center center no-repeat;
    display: inline-block;
    width: 113px;
    height: 60px; }
    @media screen and (max-width: 760px) {
      .navigation___lGW1A .logo___1wZqy {
        margin: 0 auto 24px; } }
  .navigation___lGW1A .navItems___ENJRP {
    align-items: center;
    display: flex; }
    @media screen and (max-width: 760px) {
      .navigation___lGW1A .navItems___ENJRP {
        justify-content: center;
        display: flex; } }
    @media screen and (max-width: 600px) {
      .navigation___lGW1A .navItems___ENJRP {
        display: none; } }
    .navigation___lGW1A .navItems___ENJRP a {
      margin-left: 32px;
      text-decoration: none;
      color: #443562; }
      .navigation___lGW1A .navItems___ENJRP a:hover {
        color: black; }

@keyframes float1___13fF5 {
  0% {
    transform: translatey(0px); }
  50% {
    transform: translatey(-20px); }
  100% {
    transform: translatey(0px); } }

@keyframes float2___2QRev {
  0% {
    transform: translatey(0px); }
  75% {
    transform: translatey(16px); }
  100% {
    transform: translatey(0px); } }

@keyframes moveBottomTop___3uZLZ {
  0% {
    bottom: 0%;
    opacity: 0; }
  45% {
    opacity: 1; }
  60% {
    opacity: 0; }
  100% {
    bottom: 110%;
    opacity: 0; } }

@keyframes barberpole___2B1cq {
  100% {
    background-position: 100% 100%; } }

button, [type='button'], [type='reset'], [type='submit'] {
  appearance: none;
  background: linear-gradient(180deg, #B9D532 0%, #5BBA47 100%);
  border: 0;
  border-radius: 999px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Inter UI", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, [type='button']:hover, [type='reset']:hover, [type='submit']:hover {
    background-color: #499539;
    color: #000; }
  button:focus, [type='button']:focus, [type='reset']:focus, [type='submit']:focus {
    outline: 3px solid rgba(91, 186, 71, 0.6);
    outline-offset: 2px; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
      background-color: #5BBA47; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: "Inter UI", sans-serif;
  font-size: 16px; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #E9E6EF;
  border-radius: 8px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
    border-color: #bab8bf; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
    border-color: #5BBA47;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(91, 186, 71, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #E9E6EF; }
  [type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #8f86a1; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  width: 100%; }

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="file"]:focus,
select:focus {
  outline: 3px solid rgba(91, 186, 71, 0.6);
  outline-offset: 2px; }

html {
  background-color: #fff;
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  height: 100%; }

body {
  margin: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 1.5em 0;
  table-layout: fixed;
  text-align: left;
  width: 100%; }

thead {
  line-height: 1.2;
  vertical-align: bottom; }

tbody {
  vertical-align: top; }

tr {
  border-bottom: 1px solid #E9E6EF; }

th {
  font-weight: 600; }

th,
td {
  padding: 0.75em 0.75em 0.75em 0; }

html {
  color: #443562;
  font-family: "Inter UI", sans-serif;
  font-size: 100%;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter UI", sans-serif;
  line-height: 1.2;
  margin: 0 0 0.75em; }

h1 {
  font-size: 42px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 20px; }

p {
  font-size: 16px;
  line-height: 1.75em; }
  p.text--large___2PGjP {
    font-size: 20px; }
    @media screen and (max-width: 760px) {
      p.text--large___2PGjP {
        font-size: 16px; } }

p {
  margin: 0 0 0.75em; }

a {
  color: #5BBA47;
  text-decoration-skip: ink;
  transition: color 150ms ease; }
  a:hover {
    color: #448c35; }
  a:focus {
    outline: 3px solid rgba(91, 186, 71, 0.6);
    outline-offset: 2px; }

hr {
  border-bottom: 1px solid #E9E6EF;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

.downloadButton___1jeNx {
  padding: 13px 42px;
  border-radius: 999px;
  background: linear-gradient(180deg, #B9D532 0%, #5BBA47 100%);
  color: white;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  box-shadow: 0px 16px 16px rgba(68, 53, 98, 0.05), 0px 8px 8px rgba(68, 53, 98, 0.05), 0px 4px 4px rgba(68, 53, 98, 0.05), 0px 2px 2px rgba(68, 53, 98, 0.05);
  transition: box-shadow 200ms ease; }
  .downloadButton___1jeNx.bright___1MqL5 {
    padding: 13px 40px 13px 64px;
    background: url("/static/nos-circle-flat.svg") 10px center no-repeat, linear-gradient(180deg, #FFFFFF 22.5%, #F6F4FA 100%);
    color: #443562; }
  .downloadButton___1jeNx:hover {
    color: white;
    background: linear-gradient(180deg, #B9D532 -75%, #5BBA47 100%);
    box-shadow: 0px 0px 0px rgba(68, 53, 98, 0.05), 0px 0px 0px rgba(68, 53, 98, 0.05), 0px 4px 4px rgba(68, 53, 98, 0.1), 0px 2px 2px rgba(68, 53, 98, 0.1); }

@keyframes float1___1mJMC {
  0% {
    transform: translatey(0px); }
  50% {
    transform: translatey(-20px); }
  100% {
    transform: translatey(0px); } }

@keyframes float2___3R7Ik {
  0% {
    transform: translatey(0px); }
  75% {
    transform: translatey(16px); }
  100% {
    transform: translatey(0px); } }

@keyframes moveBottomTop___2egUI {
  0% {
    bottom: 0%;
    opacity: 0; }
  45% {
    opacity: 1; }
  60% {
    opacity: 0; }
  100% {
    bottom: 110%;
    opacity: 0; } }

@keyframes barberpole___29K9V {
  100% {
    background-position: 100% 100%; } }

button, [type='button'], [type='reset'], [type='submit'] {
  appearance: none;
  background: linear-gradient(180deg, #B9D532 0%, #5BBA47 100%);
  border: 0;
  border-radius: 999px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Inter UI", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, [type='button']:hover, [type='reset']:hover, [type='submit']:hover {
    background-color: #499539;
    color: #000; }
  button:focus, [type='button']:focus, [type='reset']:focus, [type='submit']:focus {
    outline: 3px solid rgba(91, 186, 71, 0.6);
    outline-offset: 2px; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
      background-color: #5BBA47; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: "Inter UI", sans-serif;
  font-size: 16px; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #E9E6EF;
  border-radius: 8px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
    border-color: #bab8bf; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
    border-color: #5BBA47;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(91, 186, 71, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #E9E6EF; }
  [type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #8f86a1; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  width: 100%; }

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="file"]:focus,
select:focus {
  outline: 3px solid rgba(91, 186, 71, 0.6);
  outline-offset: 2px; }

html {
  background-color: #fff;
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  height: 100%; }

body {
  margin: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 1.5em 0;
  table-layout: fixed;
  text-align: left;
  width: 100%; }

thead {
  line-height: 1.2;
  vertical-align: bottom; }

tbody {
  vertical-align: top; }

tr {
  border-bottom: 1px solid #E9E6EF; }

th {
  font-weight: 600; }

th,
td {
  padding: 0.75em 0.75em 0.75em 0; }

html {
  color: #443562;
  font-family: "Inter UI", sans-serif;
  font-size: 100%;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter UI", sans-serif;
  line-height: 1.2;
  margin: 0 0 0.75em; }

h1 {
  font-size: 42px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 20px; }

p {
  font-size: 16px;
  line-height: 1.75em; }
  p.text--large___12dzE {
    font-size: 20px; }
    @media screen and (max-width: 760px) {
      p.text--large___12dzE {
        font-size: 16px; } }

p {
  margin: 0 0 0.75em; }

a {
  color: #5BBA47;
  text-decoration-skip: ink;
  transition: color 150ms ease; }
  a:hover {
    color: #448c35; }
  a:focus {
    outline: 3px solid rgba(91, 186, 71, 0.6);
    outline-offset: 2px; }

hr {
  border-bottom: 1px solid #E9E6EF;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

.socialIcon___2-kcc {
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  margin-right: 16px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center; }
  .socialIcon___2-kcc:last-child {
    margin-right: 0; }
  .socialIcon___2-kcc.twitter___2MRJA {
    background-image: url("/static/twitter-green.svg"); }
  .socialIcon___2-kcc.reddit___TQHit {
    background-image: url("/static/reddit-green.svg"); }
  .socialIcon___2-kcc.discord___2f8Xs {
    background-image: url("/static/discord-green.svg"); }
  .socialIcon___2-kcc.telegram___2otxr {
    background-image: url("/static/telegram-green.svg"); }
  .socialIcon___2-kcc.medium___2gtWd {
    background-image: url("/static/medium-green.svg"); }

@keyframes float1___2UvYS {
  0% {
    transform: translatey(0px); }
  50% {
    transform: translatey(-20px); }
  100% {
    transform: translatey(0px); } }

@keyframes float2___3qzrt {
  0% {
    transform: translatey(0px); }
  75% {
    transform: translatey(16px); }
  100% {
    transform: translatey(0px); } }

@keyframes moveBottomTop___2yA5I {
  0% {
    bottom: 0%;
    opacity: 0; }
  45% {
    opacity: 1; }
  60% {
    opacity: 0; }
  100% {
    bottom: 110%;
    opacity: 0; } }

@keyframes barberpole___3ESYu {
  100% {
    background-position: 100% 100%; } }

button, [type='button'], [type='reset'], [type='submit'] {
  appearance: none;
  background: linear-gradient(180deg, #B9D532 0%, #5BBA47 100%);
  border: 0;
  border-radius: 999px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Inter UI", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, [type='button']:hover, [type='reset']:hover, [type='submit']:hover {
    background-color: #499539;
    color: #000; }
  button:focus, [type='button']:focus, [type='reset']:focus, [type='submit']:focus {
    outline: 3px solid rgba(91, 186, 71, 0.6);
    outline-offset: 2px; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
      background-color: #5BBA47; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: "Inter UI", sans-serif;
  font-size: 16px; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #E9E6EF;
  border-radius: 8px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
    border-color: #bab8bf; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
    border-color: #5BBA47;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(91, 186, 71, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #E9E6EF; }
  [type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #8f86a1; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  width: 100%; }

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="file"]:focus,
select:focus {
  outline: 3px solid rgba(91, 186, 71, 0.6);
  outline-offset: 2px; }

html {
  background-color: #fff;
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  height: 100%; }

body {
  margin: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 1.5em 0;
  table-layout: fixed;
  text-align: left;
  width: 100%; }

thead {
  line-height: 1.2;
  vertical-align: bottom; }

tbody {
  vertical-align: top; }

tr {
  border-bottom: 1px solid #E9E6EF; }

th {
  font-weight: 600; }

th,
td {
  padding: 0.75em 0.75em 0.75em 0; }

html {
  color: #443562;
  font-family: "Inter UI", sans-serif;
  font-size: 100%;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter UI", sans-serif;
  line-height: 1.2;
  margin: 0 0 0.75em; }

h1 {
  font-size: 42px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 20px; }

p {
  font-size: 16px;
  line-height: 1.75em; }
  p.text--large___2L-_x {
    font-size: 20px; }
    @media screen and (max-width: 760px) {
      p.text--large___2L-_x {
        font-size: 16px; } }

p {
  margin: 0 0 0.75em; }

a {
  color: #5BBA47;
  text-decoration-skip: ink;
  transition: color 150ms ease; }
  a:hover {
    color: #448c35; }
  a:focus {
    outline: 3px solid rgba(91, 186, 71, 0.6);
    outline-offset: 2px; }

hr {
  border-bottom: 1px solid #E9E6EF;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

footer {
  display: flex;
  justify-content: space-around;
  padding-top: 32px;
  padding-bottom: 32px; }
  @media screen and (max-width: 760px) {
    footer {
      flex-direction: column;
      justify-content: center; } }
  footer .left___3XOvc p {
    font-size: 12px;
    margin-bottom: 0; }
  @media screen and (max-width: 760px) {
    footer .left___3XOvc {
      text-align: center;
      margin-bottom: 20px; } }
  footer .center___3a7bc {
    display: flex;
    align-items: flex-end;
    padding-bottom: 6px; }
    @media screen and (max-width: 760px) {
      footer .center___3a7bc {
        justify-content: center;
        margin-bottom: 20px; } }
  footer .right___28KmE {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    @media screen and (max-width: 760px) {
      footer .right___28KmE {
        justify-content: center; } }
    footer .right___28KmE p {
      width: 100%;
      text-align: right; }
      @media screen and (max-width: 760px) {
        footer .right___28KmE p {
          text-align: center; } }
  footer .email___1-sPJ {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    color: #443562;
    text-decoration: none; }
    footer .email___1-sPJ:before {
      flex: 1 1 auto;
      margin-right: 3px;
      content: "";
      width: 16px;
      height: 12px;
      background: url("/static/email-green.svg"); }

@keyframes float1___3Z5Mf {
  0% {
    transform: translatey(0px); }
  50% {
    transform: translatey(-20px); }
  100% {
    transform: translatey(0px); } }

@keyframes float2___2s9vu {
  0% {
    transform: translatey(0px); }
  75% {
    transform: translatey(16px); }
  100% {
    transform: translatey(0px); } }

@keyframes moveBottomTop___190-D {
  0% {
    bottom: 0%;
    opacity: 0; }
  45% {
    opacity: 1; }
  60% {
    opacity: 0; }
  100% {
    bottom: 110%;
    opacity: 0; } }

@keyframes barberpole___ahOF9 {
  100% {
    background-position: 100% 100%; } }

button, [type='button'], [type='reset'], [type='submit'] {
  appearance: none;
  background: linear-gradient(180deg, #B9D532 0%, #5BBA47 100%);
  border: 0;
  border-radius: 999px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Inter UI", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, [type='button']:hover, [type='reset']:hover, [type='submit']:hover {
    background-color: #499539;
    color: #000; }
  button:focus, [type='button']:focus, [type='reset']:focus, [type='submit']:focus {
    outline: 3px solid rgba(91, 186, 71, 0.6);
    outline-offset: 2px; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
      background-color: #5BBA47; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: "Inter UI", sans-serif;
  font-size: 16px; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #E9E6EF;
  border-radius: 8px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
    border-color: #bab8bf; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
    border-color: #5BBA47;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(91, 186, 71, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #E9E6EF; }
  [type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #8f86a1; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  width: 100%; }

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="file"]:focus,
select:focus {
  outline: 3px solid rgba(91, 186, 71, 0.6);
  outline-offset: 2px; }

html {
  background-color: #fff;
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  height: 100%; }

body {
  margin: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 1.5em 0;
  table-layout: fixed;
  text-align: left;
  width: 100%; }

thead {
  line-height: 1.2;
  vertical-align: bottom; }

tbody {
  vertical-align: top; }

tr {
  border-bottom: 1px solid #E9E6EF; }

th {
  font-weight: 600; }

th,
td {
  padding: 0.75em 0.75em 0.75em 0; }

html {
  color: #443562;
  font-family: "Inter UI", sans-serif;
  font-size: 100%;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter UI", sans-serif;
  line-height: 1.2;
  margin: 0 0 0.75em; }

h1 {
  font-size: 42px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 20px; }

p {
  font-size: 16px;
  line-height: 1.75em; }
  p.text--large___3KgZG {
    font-size: 20px; }
    @media screen and (max-width: 760px) {
      p.text--large___3KgZG {
        font-size: 16px; } }

p {
  margin: 0 0 0.75em; }

a {
  color: #5BBA47;
  text-decoration-skip: ink;
  transition: color 150ms ease; }
  a:hover {
    color: #448c35; }
  a:focus {
    outline: 3px solid rgba(91, 186, 71, 0.6);
    outline-offset: 2px; }

hr {
  border-bottom: 1px solid #E9E6EF;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

.gdprBanner___2lgpr {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 40px;
  color: #FFF;
  background: rgba(68, 53, 98, 0.9);
  text-align: center;
  z-index: 99; }
  .gdprBanner___2lgpr p {
    margin: 0 auto 40px;
    max-width: 760px;
    line-height: 24px;
    font-size: 16px; }
  .gdprBanner___2lgpr a,
  .gdprBanner___2lgpr a:hover {
    color: #FFF; }

@keyframes float1___2ERoX {
  0% {
    transform: translatey(0px); }
  50% {
    transform: translatey(-20px); }
  100% {
    transform: translatey(0px); } }

@keyframes float2___1tS5E {
  0% {
    transform: translatey(0px); }
  75% {
    transform: translatey(16px); }
  100% {
    transform: translatey(0px); } }

@keyframes moveBottomTop___xgJu8 {
  0% {
    bottom: 0%;
    opacity: 0; }
  45% {
    opacity: 1; }
  60% {
    opacity: 0; }
  100% {
    bottom: 110%;
    opacity: 0; } }

@keyframes barberpole___209Fl {
  100% {
    background-position: 100% 100%; } }

button, [type='button'], [type='reset'], [type='submit'] {
  appearance: none;
  background: linear-gradient(180deg, #B9D532 0%, #5BBA47 100%);
  border: 0;
  border-radius: 999px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Inter UI", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, [type='button']:hover, [type='reset']:hover, [type='submit']:hover {
    background-color: #499539;
    color: #000; }
  button:focus, [type='button']:focus, [type='reset']:focus, [type='submit']:focus {
    outline: 3px solid rgba(91, 186, 71, 0.6);
    outline-offset: 2px; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
      background-color: #5BBA47; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: "Inter UI", sans-serif;
  font-size: 16px; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #E9E6EF;
  border-radius: 8px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
    border-color: #bab8bf; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
    border-color: #5BBA47;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(91, 186, 71, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #E9E6EF; }
  [type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #8f86a1; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  width: 100%; }

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="file"]:focus,
select:focus {
  outline: 3px solid rgba(91, 186, 71, 0.6);
  outline-offset: 2px; }

html {
  background-color: #fff;
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  height: 100%; }

body {
  margin: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 1.5em 0;
  table-layout: fixed;
  text-align: left;
  width: 100%; }

thead {
  line-height: 1.2;
  vertical-align: bottom; }

tbody {
  vertical-align: top; }

tr {
  border-bottom: 1px solid #E9E6EF; }

th {
  font-weight: 600; }

th,
td {
  padding: 0.75em 0.75em 0.75em 0; }

html {
  color: #443562;
  font-family: "Inter UI", sans-serif;
  font-size: 100%;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter UI", sans-serif;
  line-height: 1.2;
  margin: 0 0 0.75em; }

h1 {
  font-size: 42px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 20px; }

p {
  font-size: 16px;
  line-height: 1.75em; }
  p.text--large___1Kdds {
    font-size: 20px; }
    @media screen and (max-width: 760px) {
      p.text--large___1Kdds {
        font-size: 16px; } }

p {
  margin: 0 0 0.75em; }

a {
  color: #5BBA47;
  text-decoration-skip: ink;
  transition: color 150ms ease; }
  a:hover {
    color: #448c35; }
  a:focus {
    outline: 3px solid rgba(91, 186, 71, 0.6);
    outline-offset: 2px; }

hr {
  border-bottom: 1px solid #E9E6EF;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

body {
  background: #F6F4FA;
  overflow-x: hidden; }

@keyframes float1___1MEw7 {
  0% {
    transform: translatey(0px); }
  50% {
    transform: translatey(-20px); }
  100% {
    transform: translatey(0px); } }

@keyframes float2___3FPdH {
  0% {
    transform: translatey(0px); }
  75% {
    transform: translatey(16px); }
  100% {
    transform: translatey(0px); } }

@keyframes moveBottomTop___xqe9j {
  0% {
    bottom: 0%;
    opacity: 0; }
  45% {
    opacity: 1; }
  60% {
    opacity: 0; }
  100% {
    bottom: 110%;
    opacity: 0; } }

@keyframes barberpole___1W_G2 {
  100% {
    background-position: 100% 100%; } }

button, [type='button'], [type='reset'], [type='submit'] {
  appearance: none;
  background: linear-gradient(180deg, #B9D532 0%, #5BBA47 100%);
  border: 0;
  border-radius: 999px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Inter UI", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, [type='button']:hover, [type='reset']:hover, [type='submit']:hover {
    background-color: #499539;
    color: #000; }
  button:focus, [type='button']:focus, [type='reset']:focus, [type='submit']:focus {
    outline: 3px solid rgba(91, 186, 71, 0.6);
    outline-offset: 2px; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
      background-color: #5BBA47; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: "Inter UI", sans-serif;
  font-size: 16px; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #E9E6EF;
  border-radius: 8px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
    border-color: #bab8bf; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
    border-color: #5BBA47;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(91, 186, 71, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #E9E6EF; }
  [type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #8f86a1; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  width: 100%; }

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="file"]:focus,
select:focus {
  outline: 3px solid rgba(91, 186, 71, 0.6);
  outline-offset: 2px; }

html {
  background-color: #fff;
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  height: 100%; }

body {
  margin: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 1.5em 0;
  table-layout: fixed;
  text-align: left;
  width: 100%; }

thead {
  line-height: 1.2;
  vertical-align: bottom; }

tbody {
  vertical-align: top; }

tr {
  border-bottom: 1px solid #E9E6EF; }

th {
  font-weight: 600; }

th,
td {
  padding: 0.75em 0.75em 0.75em 0; }

html {
  color: #443562;
  font-family: "Inter UI", sans-serif;
  font-size: 100%;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter UI", sans-serif;
  line-height: 1.2;
  margin: 0 0 0.75em; }

h1 {
  font-size: 42px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 20px; }

p {
  font-size: 16px;
  line-height: 1.75em; }
  p.text--large___uotBR {
    font-size: 20px; }
    @media screen and (max-width: 760px) {
      p.text--large___uotBR {
        font-size: 16px; } }

p {
  margin: 0 0 0.75em; }

a {
  color: #5BBA47;
  text-decoration-skip: ink;
  transition: color 150ms ease; }
  a:hover {
    color: #448c35; }
  a:focus {
    outline: 3px solid rgba(91, 186, 71, 0.6);
    outline-offset: 2px; }

hr {
  border-bottom: 1px solid #E9E6EF;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

.container___1uR8n {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px; }

