.card {
  width: 33%;
  text-align: center;
  font-size: 14px;
  margin-top: 40px;

  h3 {
    font-weight: 300;
  }

  &:last-child {
    margin-bottom: 40px;
  }

  @media screen and (max-width: $break-medium) {
    width: 48%;
  }

  @media screen and (max-width: $break-small) {
    width: 100%;
  }

  & > * {
    margin-bottom: 4px;
  }

  img {
    max-width: 70px;
  }
}
