.hero {
  text-align: center;
  background: url('/static/hero-fancy-bg.svg') bottom center no-repeat, linear-gradient(173deg, $pale-gray 0%, $light-gray 45%);
  background-size: 100% auto, auto;
  padding: 192px 12px 0 12px;
  position: relative;

  @media screen and (max-width: $break-medium) {
    padding-top: 192px;
  }

  @media screen and (max-width: $break-small) {
    padding-top: 144px;
  }

  .large {
    @extend %large-text;
    max-width: 600px;
    text-align: center;
    margin: 0 auto 24px auto;
  }

  .download {
    position: relative;

    .meta {
      color: $violet;
      margin-top: 8px;

      a { text-decoration: none; font-weight: 500;}
    }
  }

  .social {
    display: flex;
    justify-content: center;

    & > * {
      width: 24px;
      height: 24px;
      margin: 16px 8px;
    }
  }

  .productShot {
    margin-left: auto;
    margin-right: auto;
    margin-top: -96px;
    width: 100%;
    max-width: $max-width;
    min-width: $break-small;
    pointer-events: none;

    @media screen and (max-width: $break-medium) {
      margin-top: -48px;
      text-align: center;
    }

    img {
      vertical-align: bottom;
      position: relative;
    }
  }
}
