.navigation {
  width: 100%;
  padding: 24px 24px 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  font-size: 16px;

  @media screen and (max-width: $break-medium) {
    flex-direction: column;
    justify-content: center;
  }

  &.fixed {
    position: absolute;
    z-index: 2;
  }

  .logo {
    text-align: center;
    background: url('/static/nos-logo-positive.svg') center center no-repeat;
    display: inline-block;
    width: 113px;
    height: 60px;

    @media screen and (max-width: $break-medium) {
      margin: 0 auto 24px;
    }
  }

  .navItems {
    align-items: center;
    display: flex;

    @media screen and (max-width: $break-medium) {
      justify-content: center;
      display: flex;
    }

    @media screen and (max-width: $break-small) {
      display: none;
    }

    a {
      margin-left: 32px;
      text-decoration: none;
      color: $dark-gray;

      &:hover {
        color: black;
      }
    }
  }
}

.starGazer {
  margin-left: 32px;
  margin-right: -64px;
}