.card {
  width: 30%;
  text-align: center;
  font-size: 14px;
  margin-top: 40px;

  &:last-child {
    margin-bottom: 40px;
  }

  @media screen and (max-width: $break-medium) {
    width: 48%;
  }

  @media screen and (max-width: $break-small) {
    width: 100%;
  }

  & > * {
    margin-bottom: 4px;
  }

  span {
    display: block;
    color: $green;
    font-size: 16px;
    font-weight: bold;
  }

  img {
    max-width: 130px;
    border-radius: 50%;
  }

  .social {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .icon {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 4px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    &.linkedin { background-image: url('/static/icon-linkedin.svg') }
    &.twitter {background-image: url('/static/icon-twitter.svg') }
    &.github { background-image: url('/static/icon-github.svg') }
    &.dribbble { background-image: url('/static/icon-dribbble.svg') }
  }

  .experience {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      margin-bottom: 4px;
    }
  }
}
