.socialIcon {
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  margin-right: 16px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;

  &:last-child {
    margin-right: 0;
  }

  &.twitter { background-image: url('/static/twitter-green.svg') }
  &.reddit { background-image: url('/static/reddit-green.svg') }
  &.discord { background-image: url('/static/discord-green.svg') }
  &.telegram { background-image: url('/static/telegram-green.svg') }
  &.medium { background-image: url('/static/medium-green.svg') }
}
