.downloadButton {
  padding: 13px 42px;
  border-radius: 999px;
  background: $green-gradient-vertical;
  color: white;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  box-shadow: 0px 16px 16px rgba(68, 53, 98, 0.05), 0px 8px 8px rgba(68, 53, 98, 0.05), 0px 4px 4px rgba(68, 53, 98, 0.05), 0px 2px 2px rgba(68, 53, 98, 0.05);
  transition: box-shadow 200ms ease;

  &.bright {
    padding: 13px 40px 13px 64px;
    background: url('/static/nos-circle-flat.svg') 10px center no-repeat,
    linear-gradient(180deg, #FFFFFF 22.5%, #F6F4FA 100%);
    color: $dark-gray;
  }

  &:hover {
    color: white;
    background: $green-gradient-vertical-hover;
    box-shadow: 0px 0px 0px rgba(68, 53, 98, 0.05), 0px 0px 0px rgba(68, 53, 98, 0.05), 0px 4px 4px rgba(68, 53, 98, 0.1), 0px 2px 2px rgba(68, 53, 98, 0.1);
  }
}

.starGazer {
  margin-left: 15px;
  margin-bottom: -10px;
}
