@keyframes float1 {
	0% { transform: translatey(0px); }
	50% { transform: translatey(-20px); }
	100% { transform: translatey(0px); }
}

@keyframes float2 {
	0% { transform: translatey(0px); }
	75% { transform: translatey(16px); }
	100% { transform: translatey(0px); }
}

@keyframes moveBottomTop {
	0% { bottom: 0%; opacity: 0; }
	45% { opacity: 1; }
	60% { opacity: 0; }
	100% { bottom: 110%; opacity: 0; }
}

@keyframes barberpole {
	100% { background-position: 100% 100% }
}