@keyframes float1 {
	0% { transform: translatey(0px); }
	50% { transform: translatey(-20px); }
	100% { transform: translatey(0px); }
}

@keyframes float2 {
	0% { transform: translatey(0px); }
	75% { transform: translatey(16px); }
	100% { transform: translatey(0px); }
}
