// Typography
$base-font-family: 'Inter UI', sans-serif;
$heading-font-family: $base-font-family;

// Breakpoints
$max-width: 1200px;
$break-large: 1000px;
$break-medium: 760px;
$break-small: 540px;
$break-xsmall: 420px;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 8px;
$base-spacing: 1.5em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$green: #5BBA47;
$green-light: #B9D532;

$dark-gray: #443562;
$medium-gray: #8F84A6;
$light-gray: #E9E6EF;
$pale-gray: #F6F4FA;

$green-gradient-vertical:  linear-gradient(180deg, $green-light 0%, $green 100%);
$green-gradient-vertical-hover: linear-gradient(180deg, $green-light -75%, $green 100%);
$green-gradient-diagonal: linear-gradient(90deg, $green-light 0%, $green 100%);


$blue-gradient: linear-gradient(180deg, #6762F4 0%, #60BFFB 100%);
$red-gradient: linear-gradient(180deg, #F1408C 0%, #FF8A8D 100%);

// Font Colors
$base-font-color: $dark-gray;
$action-color: $green;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$viewport-background-color: #fff;

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;

$feature-shadow: 6px 6px 12px rgba(101, 89, 124, 0.1), 20px 20px 32px rgba(101, 89, 124, 0.1), 30px 30px 48px rgba(101, 89, 124, 0.1);
